.logo-img {
    width: 294px;
    height: 70px;
}
.nav-link{
    color: #2F4F4F !important;
}
.active_user {
    color: #ffba00 !important;
}
#err_message, #err_message_funcionario, #err_message_recover{
    color: #F00;   
}
.section_gap{
    padding: 130px 0;
}
.hidden {
    display: none;
}
.show_form{
    position: fixed;
    top: 15%;
    left: 25%;
    z-index: 10000;
    background-color: #FFF;
    border-radius: 10px;
}
.show_back {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(218, 165, 32, 0.748);
    z-index: 100;
}
.funcionario-login{
    cursor: pointer;
}
.form-funcionario{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.form-funcionario-inner{
    padding-bottom: 15px;
    padding-top: 80px !important;
}
#fechar{
    cursor: pointer;
}
#fechar:hover{
    color: #F00;
    transform: rotateY(180deg);
    transition: 0.5s;
}
.user_image{
    height: 120px;
    width: 120px;
    border-radius: 100% !important;
    border: 1px solid #999 !important;
    box-shadow: 5px 5px 15px rgba(171, 170, 168, 0.623)
}
.table{
    margin-top: 50px;
}
.cart_area{
    width: 75%;
    margin: 0 auto;
}
.houses_menu{
    width: 90%;
    margin: 150px auto;
}
.bar{
    padding: 30px 0;
}
.sidebar-categories .head {
    padding: 15px 30px !important;
}
.footer_anchor {
    color: #ff6c00;
    font-size: 18px;
    font-weight: 600;
}
.footer_paragraph{
    margin-top: 25px;
}
.product_image_area{
    padding-top: 150px !important;
}
.major {
    text-transform: uppercase;
}
#map_border{
    height: 402px;
    margin: 180px auto 30px auto;
    border: 1px solid rgba(0, 0, 0, 0.6);
}
#map{
    width: 100%;
    height: 400px;
}
.fluido{
    margin: 20px 0;
}
.img-fluida{
    max-width: 80%;
    height: auto;
    margin-top: 20px;
}
.author_img{
    width: 120px;
    height: 120px;
}
.favorite-img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.form{
    width: 50%;
    margin: 80px auto 0 auto;
    border: 1px solid rgba(153, 153, 153, 0.80);
    padding: 40px 15px;
    border-radius: 15px;
}
label[for="data"]{
    margin-right: 20px;
}
#imovel{
    height: 300px;
}
.imovel-img{
    width: 150px;
    border-radius: 10px;
}
.imovel-name{
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 10px;
}
.old-price{
    color: #999;
    text-decoration: line-through;
}
.new-price{
    margin-top: 5px;
}
.form-btn{
    width: 100%;
}
.booking-name{
    text-transform: capitalize;
}